body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  font-family: Verdana, sans-serif;
  color: #ffffff;

  background-color: #222222;
}

.container {
  width: 1040px;
  margin: 0 auto;
  padding: 0;
}


.site-header {
  color: #ffffff;
  background-color: #222222;
}

.site-header .container {
  min-height: 400px;
  padding-top: 55px;
  padding-bottom: 85px;

  background-image: url("../img/moon-rocket.png");
  background-repeat: no-repeat;
  background-position: 520px 50px;
}

.about-us {
  width: 450px;
  padding-left: 120px;
}

.about-us h1 {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-size: 30px;
  line-height: 50px;
  font-family: "Verdana", sans-serif;
  color: white;
}

.about-us p {
  margin: 0;
  margin-bottom: 50px;
  padding-left: 5px;

  font-size: 14px;
  line-height: 22px;
  color: #d4d4d4;
}



a {
  display: block;
  margin-right: 40px;

  font-size: 18px;
  text-decoration: none;
  color: #d4d4d4;
}

a:hover {
  color: white;
}

a:active {
  color: #ccc;
}

*/

.site-footer {
  padding-top: 50px;
  padding-bottom: 80px;

  color: #ffffff;

  background-color: #131313;
}


.footer-columns-container {
  display: flex;
}

.footer-columns-container .left-column {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 100px;
}

.footer-columns-container .right-column {
  width: 720px;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 0;
    
    margin-right: 50px;
}

.logo-container .logo {
    margin-left: 0;
    margin-right: 0px;
    
}

.logo-container p {
  font-size: 14px;
}

.copyrights {
  margin-top: auto;

  color: #555555;
}

.footer-menu {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-menu > li {
  width: 180px;
  margin-right: 60px;
}

.footer-submenu-title {
  display: block;
  margin-bottom: 50px;
  padding-bottom: 20px;

  font-size: 14px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  border-bottom: 1px solid #555555;
}

.footer-submenu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-submenu > li {
  margin-bottom: 20px;
}

.footer-submenu a {
  text-decoration: none;
  color: #888888;
}

.footer-nav a:hover {
  color: white;
}

.footer-nav a:active {
  color: #ccc;
}

